Feature Engineering:
------------------
-Feature Engineering is the process of converting raw data into meaningful numerical features so that a machine learning model can understand pattterns and make better predictions.

1.Feature Exploration
2.Feature Creation
3.Feature encoding
4.Feature scaling
5.Feature selection

1.Feature Exploration:
-----------
-The process of analyzing and viualizing features to cover patterns,distributions,correlations,and potential issues in the dataset before applying machine learnng

2.Feature Creation:
---------------
-The process of generating new meaningful features from existing data using domain knowledge or mathematical operations to help the model learn better patterns.

3.Feature Encoding:
----------------
-The process of converting categorical or non-numeric features into numeric form so machine learning models can process them effectively.

4.Feature scaling:
--------------
-The process of transforming numerical features to a standard range or distribution so that no feature dominates the learning process due to its scale.

5.Feature selection:
---------------
-The process of identifying and keeping only the most relevant feaures while removing irrelevant or redundant ones to improve model performance and reduce overfitting.


Feature Creation(Adds Intelligence):
Definition:
----------
-Feature Creation is the process of creating new features from existing data using domain knowledge and mathematical operations to help the model learn better patterns.

Why its "Adds Intelligence":
---------------------------
* Raw data may not show hidden relationships
* New features provide extra information
* Models cannot think logically-features guide learning

Common types of Feature Creation:
-----------------------------------
* Domain-based features(real-world logic)
* Mathematical combinations (sum, average, ratio)
* Interaction features (combined effect of features)
* Polynomial features (non-linear relationships)

Example:
-------
* Total_Marks = Math + Science
* Efficiency = Total_Marks/Study_Hours

# Feature Creation

In [4]:
import pandas as pd
df=pd.DataFrame({
    "Study_Hours":[2,4,6,8,10],
    "Attendance":[60,70,80,90,95],
    "Maths":[40,55,65,75,80],
    "Science":[42,58,68,78,88]
})

In [5]:
df

   Study_Hours  Attendance  Maths  Science
0            2          60     40       42
1            4          70     55       58
2            6          80     65       68
3            8          90     75       78
4           10          95     80       88

# Domain-Based Feature

In [6]:
df["Total_Marks"] = df["Maths"] + df["Science"]
df

   Study_Hours  Attendance  Maths  Science  Total_Marks
0            2          60     40       42           82
1            4          70     55       58          113
2            6          80     65       68          133
3            8          90     75       78          153
4           10          95     80       88          168

# Mathematical Feature

In [7]:
df["Marks_per_Hour"] = df["Total_Marks"]/ df["Study_Hours"]
df

   Study_Hours  Attendance  Maths  Science  Total_Marks  Marks_per_Hour
0            2          60     40       42           82       41.000000
1            4          70     55       58          113       28.250000
2            6          80     65       68          133       22.166667
3            8          90     75       78          153       19.125000
4           10          95     80       88          168       16.800000

# Interaction Features

In [8]:
df["Study_Attenbance_Interaction"] = df["Study_Hours"] * df["Attendance"]
df

,Study_Hours,Attendance,Maths,Science,Total_Marks,Marks_per_Hour,Study_Attenbance_Interaction
0,2,60,40,42,82,41.000000,120
1,4,70,55,58,113,28.250000,280
2,6,80,65,68,133,22.166667,480
3,8,90,75,78,153,19.125000,720
4,10,95,80,88,168,16.800000,950

# Polynomial  Feature

In [10]:
df["Study_Hours_Squared"] = df["Study_Hours"]**2
df

,Study_Hours,Attendance,Maths,Science,Total_Marks,Marks_per_Hour,Study_Attenbance_Interaction,Study_Hours_Squared
0,2,60,40,42,82,41.000000,120,4
1,4,70,55,58,113,28.250000,280,16
2,6,80,65,68,133,22.166667,480,36
3,8,90,75,78,153,19.125000,720,64
4,10,95,80,88,168,16.800000,950,100